#!/usr/bin/env python
PACKAGE = "range_sensor_layer"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add('enabled',               bool_t, 0, 'Whether to apply this plugin or not', True)
gen.add('phi',                 double_t, 0, 'Phi value (sensor 50% trust zone), m', 1.2, 0, 10)
gen.add('gamma_exp',           double_t, 0, 'Gamma exponent for MARKING (obstacle band + ramp): weight = 1-(theta/max_angle)^exp. 2=stock, center-peaked (trust boresight, less on angles)', 2.0, 0.1, 10)
gen.add('gamma_exp_clear',     double_t, 0, 'Gamma exponent for CLEARING (free space ahead of reading): lower = flatter, so blind/between-sensors cells at the cone edge are actually cleared instead of lingering until pixel_decay. 2.5 = tuned default (2026-09-06 sweep on real US geometry)', 2.5, 0.1, 10)
gen.add('delta_slope',         double_t, 0, 'Delta tanh slope: near/far transition sharpness around phi (stock=2)', 2.0, 0.1, 50)
gen.add('inflate_cone',        double_t, 0, 'Inflate the triangular area covered by the sensor (percentage)', 1, 0, 1)
gen.add('no_readings_timeout', double_t, 0, 'No Readings Timeout', 0.0, 0.0)
gen.add('clear_threshold',     double_t, 0, 'Probability below which cells are marked as free', 0.2, 0.0, 1.0)
gen.add('mark_threshold',      double_t, 0, 'Probability above which cells are marked as occupied', 0.8, 0.0, 1.0)
gen.add('min_obstacle_thickness',       double_t, 0, 'Minimum obstacle thicnkness, m', 0.1, 0.0, 1.0)
gen.add('obstacle_center_offset',     double_t, 0, 'Obstacle offset, %', 0.0, -0.5, 0.5)
gen.add('clear_on_max_reading',  bool_t, 0, 'Clear on max reading', False)
gen.add('use_decay',             bool_t, 0, 'Use decay', False)
gen.add('pixel_decay',         double_t, 0, 'Pixel decay, sec', 10.0, 0.0, 256.0)


exit(gen.generate(PACKAGE, PACKAGE, "RangeSensorLayer"))
