#!/usr/bin/env python
PACKAGE = "contact_sensor_layer"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add('enabled',               bool_t, 0, 'Whether to apply this plugin or not', True)
gen.add('obstacle_radius',     double_t, 0, 'Obstacle circle radius', 0.5)
gen.add('obstacle_forward_offset',     double_t, 0, 'Obstacle center offset', 0.2)

exit(gen.generate(PACKAGE, PACKAGE, "ContactSensorLayer"))
